@page "/Employees"
@rendermode InteractiveServer
@using Domain.Entities

@*Overskrift med ikon*@
<h1>
    <img src="images/icons/Employee.svg" style="width: 32px; height: 32px;"  />
    Ansatte
</h1>

@*Tabel som viser ansatte med navn, tlf, pinkode og rettigheder, samt en slet knap*@
<table class="table table-striped">
    <thead>
        <tr>
            <th>Navn</th>
            <th>Telefonnummer</th>
            <th>Pinkode</th>
            <th>Rettigheder</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @*Itererer gennem listen af ansatte og bruger informationerne til at vise dem i tabellen*@
        @foreach(var employee in employees)
        {
            <tr>
                <td>@employee.FirstName @employee.LastName</td>
                <td>@employee.PhoneNumber</td>
                <td>@employee.PinCode</td>
                <td>@string.Join(", ", employee.Roles.Select(r => $"{r.Name} ({r.ResponsibilityArea})"))</td>
                <td><button class="btn btn-danger" @onclick="() => DeleteEmployeeAsync(employee)">Slet</button></td>
            </tr>
        }
    </tbody>
</table>
@*Tilføj medarbejder knap*@
<button class="btn btn-primary" @onclick="AddEmployeeAsync">+ Tilføj Ansat</button>

@* Modal til at tilføje en ny ansat *@
@*showModal bliver true når bruger trykker på "tilføj ansat" knappen, og derefter vises modalen*@
@*Modalen er bygget op efter bootsraps dokumentations eksempel*@
@if(showModal)
{
    <div class="modal d-block" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Tilføj Ansat</h5>
                    <button type="button" class="btn-close" @onclick="() => CloseModal()" aria-label="Close"></button>
                </div>
                @* Formular til at tilføje en ny ansat 
                Hvor hvert felt har en inputfelt
                mb-3 er afstnanden mellem hvert felt
                form-label giver skriftstørrelse til label
                form-control giver inputfeltet en bestemt størrelse og stil*@
                <div class="modal-body">
                    <div class="mb-3">
                        <label class="form-label">Fornavn</label>
                        <input type="text" class="form-control" @bind="newFirstName" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Efternavn</label>
                        <input type="text" class="form-control" @bind="newLastName" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">E-mail</label>
                        <input type="email" class="form-control" @bind="newEmail" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Telefonnummer</label>
                        <input type="tel" class="form-control" @bind="newPhoneNumber" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Pinkode</label>
                        <input type="password" class="form-control" @bind="newPinCode" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Lokation</label>
                        <select class="form-select" @bind="newLocationID">
                            <option value="">Vælg lokation</option>
                            <option value="1">Slottet</option>
                            <option value="2">Åhaven</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Autorisation </label>
                        <select class="form-select" @bind="newAuthorizationID">
                            <option value="">Vælg autorisation </option>
                            <option value="1">Admin</option>
                            <option value="2">Bruger</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" @onclick="() => CloseModal()">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    @*Gør baggrunden mørkere mens modalen er åben, så man kan skelne mellem baggrunden og modalen*@
    <div class="modal-backdrop fade show"></div>
}


@code {
    //variabel til at styre visningen af modalen, så den kun vises når showModal er true
    private bool showModal = false;

    //variabler til at binde inputfelterne i modalen, så vi kan bruge værdierne senere når vi skal tilføje en ny ansat
    private string newFirstName = string.Empty;
    private string newLastName = string.Empty;
    private string newEmail = string.Empty;
    private string newPhoneNumber = string.Empty;
    private string newPinCode = string.Empty;
    private int newLocationID;
    private int newAuthorizationID;
    
    //Mock data - skal senere hentes fra database
    private List<Employee> employees = new List<Employee>
    {
        new Employee {FirstName = "Maria", LastName = "Jensen", PhoneNumber = 41552234, PinCode = 123435, Roles = new List<Role> { new Role { RoleID = 1, Name="Admin", ResponsibilityArea="Alle funktioner" } } },
        new Employee {FirstName = "Søren", LastName = "Hansen", PhoneNumber = 41553211, PinCode = 567832, Roles = new List<Role> { new Role { RoleID = 2, Name="Bruger", ResponsibilityArea="Begrænset funktionalitet" } } },
        new Employee {FirstName = "Lars", LastName = "Nielsen", PhoneNumber = 85746392, PinCode = 987654, Roles = new List<Role> { new Role { RoleID = 2, Name="Bruger", ResponsibilityArea="Begrænset funktionalitet" } } },
        new Employee {FirstName = "Anna", LastName = "Pedersen", PhoneNumber = 92837465, PinCode = 432109, Roles = new List<Role> { new Role { RoleID = 2, Name="Bruger", ResponsibilityArea="Begrænset funktionalitet" } } },
        new Employee {FirstName = "Peter", LastName = "Andersen", PhoneNumber = 55555555, PinCode = 111111, Roles = new List<Role> { new Role { RoleID = 2, Name="Bruger", ResponsibilityArea="Begrænset funktionalitet" } } },
        new Employee {FirstName = "Mette", LastName = "Larsen", PhoneNumber = 66666666, PinCode = 222222, Roles = new List<Role> { new Role { RoleID = 2, Name="Bruger", ResponsibilityArea="Begrænset funktionalitet" } } }
    };

    //metode som udfydles senere
    private async Task AddEmployeeAsync()
    {
        //Når brugeren klikker på "Tilføj Ansat" knappen, sættes showModal til true, hvilket får modalen til at blive vist
        showModal = true;
    }

    //metode som udfydles senere
    private async Task DeleteEmployeeAsync(Employee employee)
    {
        
    }

    //Metode til at lukke modalen, ved at sætte showModal til false, så modalen ikke længere vises
    private void CloseModal()
    {
        showModal = false;
    }

}
